*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/* Con esto me aseguro que este aprovechando el 100% del ancho y el alto visible que tiene mi navegador */
html,body{
  width:100%;
  height:100%;
}

.contenedor{
  border:2px solid lightgrey;
  min-width:700px;
  max-width:1000px;
  min-height:900px;
  margin:0 auto;
  /* grid */
  display:grid;
  /* repeat(cuantasvecesrepite, tamaño) */
  /* minmax(tamañominimo, tamañomáximo) */
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-template-rows: repeat(4, minmax(150px, 1fr));
}

.caja{
  border:2px solid skyblue;
}