//imports
@import "./components/globals";

.texto{
  color: $colorprimario;
  font-family: $fuenteprimaria;
  font-size:$tamaniogeneral;
}

.btn{
  background: $colorprimario;
  font-size:$tamaniogeneral * 0.75;
}

//anidacion
//BEM BLOCK ELEMENT MODIFIER
.perfil{ //block-bloque
  &__imagen{ //element - elemento
    border-radius:25px;

    &:hover{//modifier - modificador
      box-shadow:4px 4px 4px black;
    }
  }
}

//mixins
//@mixin nombre_mixin
//un mixin es como una funcion
@mixin mixincuadrado($tamanio,$tamanio2){
  width:$tamanio;
  height:$tamanio2;
}

.cuadrado{
  @include mixincuadrado(400px,300px);
  border:2px solid orangered;
}