<div class="col-3">
  <div class="card">
    <!-- property binding, ts -> html -->
    <!-- <img class="img-card-top" [src]="src"/> -->
    <img class="img-card-top" src="assets/imagen.jpg" /> 
    <div class="card-text">
      <!-- Interpolación -->
      <h4>{{titulo}}</h4>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, odit.
      </p>
      <!-- 2way data binding -->
      <input 
        type="text"
        [(ngModel)]="nombre"
      />
      <!-- event binding -->
      <button 
        class="btn btn-primary" 
        (click)="abrirAlerta()"
      >
        Mostrar Mensaje
      </button>
    </div>
  </div>
</div>
