*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    border:1px solid gray
}

header{
    height:54px;
    padding:12px;
    background-color: steelblue;
    font-size:24px;
    color:white;
    box-shadow: 4px 4px 4px gray;
    width:100%;
}

.contenedor{
    width:1000px;
    margin:0 auto;
    display:grid;
    grid-template-columns: 600px 380px;
    gap:20px;
    margin-top:24px;
}

#divplatillos{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}

.imagen{
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:290px;
    height:200px;
}

.imagen > img{
    flex-shrink:0;
    min-width: 100%;
    min-height:100%;
}
.tarjeta{
    position:relative;
    height:400px;
}

.tarjeta p,h4{
    padding:5px;
}

.tarjeta span{
    font-weight: bold;
}

.tarjeta button{
    width:95%;
    height:36px;
    position:absolute;
    bottom: 0px;
    margin:2.5%;
    border-radius:5px;
    background-color:steelblue;
    color:white;
}

.boleta{
    width:100%;
}

.boleta td,tr,th{
    border:1px solid gray;
}
